<div class="container">
    <div class="row">
        {% if card.faces|length == 1 %}
            {% include 'MtgBundle:Card:singleFace.html.twig' %}
        {% elseif card.faces|length == 2 %}
            {% include 'MtgBundle:Card:doubleFace.html.twig' %}
        {% endif %}
    </div>
</div>