{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>
                <img src="{{ card.imgUrl }}">
            </td>
            <td valign="top">
                {{ dump(card) }}
            </td>
        </tr>
    </table>
{% endblock %}